body {
    background-color: slategrey;
    margin: 0px;
}
.banner {
    background-color: white;
    height: 60px;
    position: relative;
    margin-top: -8px;
    margin-right: 0px;
    margin-left: 0px;
}

.container {
    width: 960px;
    margin: 0 auto;
    background-color:white;
    height: 60px;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 16.5px;
    font-size: 24px;   
}

a {
    float: right;
    color: grey;
    padding: 18px;
    text-decoration: none;
}

.banner-2 {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    margin-top: 40px;
}

.middle {
    width: 940px;
    margin: 0 auto;
}
.header-2  {
     font-size: 24px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin:0;
     text-align: left;
     color: #4aaaa5;
     padding: 15px;
}

hr {
    margin: 0 auto;
}

img {
    float: left;
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
     margin: 0 auto;
     padding: 20px;
}

.footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 8px solid #4aaaa5;
}

#copyright {
    text-align: center;
}